@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body {
  background-color: #d5e1ef;
  z-index: 2;
}

.container {
  background-color: #fff;
  width: 320px;
  height: 500px;
  padding: 15px;
  margin: -50px auto;
  transform: translateY(50%);
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(167, 167, 167, 0.699);
  z-index: 2;
}
.container .qr-section {
  background-color: #2c7dfa;
  height: 288px;
  width: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.qr-section img {
  z-index: 3;
}

.top-circle {
  background-color: #3685ff;
  height: 324px;
  width: 324px;
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  top: -166px;
  left: -135px;
}
.bottom-circle {
  background-color: #3685ff;
  height: 270px;
  width: 270px;
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  bottom: -179px;
  right: -140px;
}

.qr-text h1 {
  color: #1f314f;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.qr-text p {
  color: #68778d;
  font-size: 15px;
}
